[submodule "cess-node"]
	path = cess-node
	url = git@github.com:CESSProject/cess-node.git
[submodule "web-app"]
	path = web-app
	url = git@github.com:CESSProject/web-app.git
[submodule "cess-ui-js"]
	path = cess-ui-js
	url = git@github.com:CESSProject/cess-ui-js.git
[submodule "storage-mining-tool"]
	path = storage-mining-tool
	url = git@github.com:CESSProject/storage-mining-tool.git
